<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SpeedTestSuite" parallel="tests" thread-count="2">

    <test name="Download">
        <classes>
            <class name="tests.DownloadTest"/>
        </classes>
    </test>

    <test name="Upload">
        <classes>
            <class name="tests.UploadTest"/>
        </classes>
    </test>

    <test name="Combined">
        <classes>
            <class name="tests.CombinedTest"/>
        </classes>
    </test>

    <test name="Latency">
        <classes>
            <class name="tests.LatencyTest"/>
        </classes>
    </test>

</suite>
