<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="LambdaTest Mobile Speed Tests" parallel="tests" thread-count="2">

	<listeners>
		<listener class-name="com.raghavendra.lambdatest.listeners.TestListener"/>
	</listeners>

	<test name="DOWNLOAD Test">
		<classes>
			<class name="com.raghavendra.lambdatest.tests.DownloadTest"/>
		</classes>
	</test>

	<test name="UPLOAD Test">
		<classes>
			<class name="com.raghavendra.lambdatest.tests.UploadTest"/>
		</classes>
	</test>

	<test name="COMBINED Test">
		<classes>
			<class name="com.raghavendra.lambdatest.tests.CombinedTest"/>
		</classes>
	</test>

	<test name="LATENCY Test">
		<classes>
			<class name="com.raghavendra.lambdatest.tests.LatencyTest"/>
		</classes>
	</test>

</suite>
